html, body {
  margin: 0;
  padding: 0;
  background: #0f1919;
  height: 100%;
  overflow: hidden;
  user-select: none;
}

#gameCanvas {
  display: block;
  margin: 0 auto;
  background: #0f1919;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  border: 0;
}
